@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}
input, textarea, select {
    @apply border-2 border-gray-300 rounded-sm px-1 w-full;
    @apply mb-2;
}
input:focus, textarea:focus, select:focus {
    @apply border-blue-900;
}
h1 {
    @apply text-gray-800 mb-4 text-xl;
}
label {
    @apply text-gray-600 text-sm;
}
.btn-primary {
    @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}
table.basic {
    @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td {
    @apply px-4 py-1;
}
table.basic a {
    @apply px-4 py-1 text-sm mx-1 rounded-sm inline-flex items-center gap-1;
}
.btn-red, .btn-default  {
    @apply px-4 py-1 rounded-md shadow-sm;
}
.btn-red {
    @apply bg-red-200 text-red-700 px-4 py-1 rounded-sm;
}
.btn-default {
    @apply bg-gray-600 text-white px-4 py-1 rounded-sm;
}
.btn-status {
    @apply bg-gray-600 text-white px-2 py-1 rounded-md text-xs capitalize;
}
/* 
*{
    border: 1px solid black;
} */